@import url('https://fonts.googleapis.com/css?family=Bitter|Fredoka+One|Roboto');

* {
    box-sizing: border-box;
}

header {
    background-color: lightblue;
}

footer {
    background-color: dimgray;
}

h1 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    margin: 0;
    padding-top: .1em;
}

h2 {
    font-family: 'Bitter', serif;
}

p,
li {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.24rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

a:active {
    color: gray;
}

h1 a:hover,
h1 a:active {
    text-decoration: none;
    color: black;
}

nav ul, footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-around;
}

nav ul {
    padding-bottom: .5em;
}

footer ul {
    padding: .5em 0;
}

nav li, footer li {
    margin: 0 5px;
}

main {
    margin: 0 10% 1em 10%;
}

img {
    width: 100%;
}

.logo {
    display: none;
}

iframe {
    width: 76.5vw;
    height: 43vw;
}

/* Media queries */

@media only screen and (min-width: 700px) and (max-width: 1200px) {
    h1 {
        margin-bottom: 0.67em;
        padding-top: .5em;
    }
}

@media only screen and (min-width: 1200px) {
    iframe {
        width: 950px;
        height: 534px;
    }

    main {
        width: 950px;
        margin: 0 auto 1em auto;
    }

    h1 {
        margin-bottom: 0.67em;
        padding-top: .5em;
    }

    .logo {
        display: inline;
        float: left;
        margin: -3em 0 0 2em;
        width: auto;
    }

    h1, nav {
        display: inline-block;
    }

    #wrapper {
        margin: 3em 0;
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        justify-content: space-around;
        align-items: baseline;
    }
}
