<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title> | Note Taken</title>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="icon" href="/images/icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body id="bandcamp">
        <header id="page-header"></header>

        <main>
            <h2 id="page_heading"></h2>
            <p id="summary"></p>
            <p id="comments"></p>
            <div id="screenshot"></div>
        </main>


        <footer id="footer-content"></footer>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="../scripts/add_to_nav.js"></script>
        <script src="../scripts/modules.js"></script>
        <script src="../scripts/get_data.js"></script>
    </body>

</html>
